
<h1>Welcome to the Yelp Demo</h1>
<h2>This is a sample web application built with Ruby on Rails programming language.</h2>

<p>You can see the code at <a href="https://github.com/shownola/yelpdemo1">Github</a></p>

